*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

/* Header */
.ml-auto {
  margin-left: auto!important;
}

.productscreen .btn-block{
  width:100%;
}
.cartscreen .btn-block{
  width:100%;
}
.placeorderscreen .btn-block{
  width:100%;
}

.select-bar{
  width:60%;
}